@charset "utf-8";
@import url("https://fonts.googleapis.com/css2?family=Shippori+Mincho:wght@600;800&family=Yeseva+One&display=swap");

/* cssリセット */

/*利用するタグによってこちらの内容は増やす*/

html,
body,
head,
h1,
h2,
h3,
p,
dl,
dt,
dd,
ul,
li {
  margin: 0;
  padding: 0;
  line-height: 1;
  /*デフォルトの文字色、font-familyを予め当てておく*/
  color: #392100;
  font-family: "游明朝", YuMincho, "Hiragino Mincho ProN W3",
    "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝",
    "ＭＳ 明朝", serif;
  font-feature-settings: "palt";
}

a {
  /*下線を消す*/
  text-decoration: none;
  /*色をけす*/
  color: inherit;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  vertical-align: bottom;
  border: none;
}

@media screen and (max-width: 767px) {
  .header_logo {
    display: block;
    padding: 10px;
  }
}

/* 共通 */
body {
  background: #fafaf5;
  font-family: "Shippori Mincho", serif;
  font-weight: 600;
}

/* ヘッダー */
.header_wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  box-sizing: border-box;
  z-index: 99;
  background: rgba(255, 255, 255, 0.6);
}

.header_logo {
  font-family: "Yeseva One", cursive;
  font-size: 24px;
  margin-left: 20px;
}

.pc_nav ul {
  display: flex;
  justify-content: flex-end;
}

.pc_nav ul li {
  display: flex;
  min-width: 105px;
  font-size: 16px;
  color: #392100;
  margin-top: 36px;
  list-style: none;
  margin-left: 36px;
}

.heading {
  max-width: 1100px;
  margin: 130px auto;
}

.inner {
  max-width: 1000px;
  margin: 0 auto;
}
