@charset "utf-8";
@import url("https://fonts.googleapis.com/css2?family=Shippori+Mincho:wght@600;800&family=Yeseva+One&display=swap");

/* cssリセット */

/*利用するタグによってこちらの内容は増やす*/

html,
body,
head,
h1,
h2,
h3,
p,
dl,
dt,
dd,
ul,
li {
  margin: 0;
  padding: 0;
  line-height: 1;
  /*デフォルトの文字色、font-familyを予め当てておく*/
  color: #392100;
  font-family: "游明朝", YuMincho, "Hiragino Mincho ProN W3",
    "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝",
    "ＭＳ 明朝", serif;
  font-feature-settings: "palt";
}
